<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.shopware.com/schemas/plugin/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <label lang="en-GB">Team Plugin</label>
    <label lang="de-DE">Team Plugin</label>

    <admin>
        <javascript>Resources/app/administration/src/main.js</javascript>
    </admin>
</plugin>
