<div class="team-element">
    <sw-entity-multi-select
        v-model="element.config.employees.value"
        :options="employees"
        :label="'Employees'"
        entity="team_employee"
        itemLabelProperty="name"
        valueProperty="id">
    </sw-entity-multi-select>
</div>
